span {
  display: inline-block;
  width: 70%;
  margin: 0 50px;
  text-align: center;
}
.ListArea {
  background: #C5C8E8;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 50vh;
  overflow: auto;
}

.ListArea li {
  display: inline-block;
  width: 50%;
  list-style: none;
  background: #2A2D34;
  border-radius: 5px;
  text-align: center;
  color: #DADBE6;
  margin: 5px 10px;
  padding: 5px 15px;
}
.ListArea li:hover {
  cursor: pointer;
}
.ListArea button {
  display: inline-block;
  background: #2A2D34;
  border-radius: 50%;
  border: none;
  color: #DADBE6;
  width: 25px;
  height: auto;
  padding: 5px;

}

.ListArea button:hover {
  background: #DADBE6;
  cursor: pointer;
  color: #2A2D34;
}

