.Form {
  width: 70%;
  margin: 30px auto;
  text-align: center;
}
.ToDoInput {
  outline: none;
  width: 90%;
  border: 2px solid #2A2D34;
  border-radius: 25px;
  height: 25px;
  padding: 15px 25px;
  color: #2A2D34;

}

.ToDoInput::-webkit-input-placeholder {
  color: #2A2D34;
}
.Button {
  margin-top: 25px;
  border-radius: 25px;
  border: none;
  height: 30px;
  width: 95px;
  outline: none;
  background: #2A2D34;
  color: #DADBE6;
  padding: 5px 0;
}
.Button:hover {
  background: #C5C8E8;
  color: #37322F;
  border: none;
}

@media screen and (min-width: 64rem) {

  .ToDoInput {
    width: 100%;
  }
}