.ToDoArea {
    background: rgba(253, 253, 253, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 15px;
    border: 1px solid #ffffff2e;
    height: 20vh;
    margin-bottom: 25px;
    
}
.title {
    margin: 15px 0;
    text-align: center;
    color: #7693c9;
    font-size: 1.2rem;
}