@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right bottom, #f0bcd4, #dec7e9, #ccd2f2, #c3dcf0, #c6e2e9);
  height: 100vh;
  font-family: 'Fraunces', serif;
}