.Auth {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 15px;
    border: 1px solid #ffffff2e;
    height: 45vh;
    margin: 205px auto;
    width: 100%;
    padding: 25px 15px;
}
.title {
  margin: 15px 0;
  text-align: center;
  color: #2a2d34;
  font-size: 1.2rem;
} 
.Form {
    width: 70%;
    margin: 0 auto;
}
.errors {
    color: red;
}
.Input {
    display: block;
    width: 100%;
    margin-top: 5px;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 5px 15px;
}

.Button {
    display: block;
    margin: 25px auto;
    padding: 10px 25px;
    width: 120px;
    border-radius: 11px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}

.switching {
    cursor: pointer;
    text-decoration: underline;
    color: rosybrown;
}
@media screen and (min-width: 64rem) {
    .Auth {
       
    
        margin: 205px auto;
        width: 40%;
       
    }

   
}